<main class="about-us-main">
  <section class="about-us-section about-us-hero-section">
    <h1>About Us</h1>
    <p>We are a system based mining company that deploys units from venus to the kuiper belt</p>
  </section>
  <section class="about-us-section">
    <h2>Where</h2>
    <p>Sed dapibus mauris at mauris mollis, eu venenatis dui posuere. Pellentesque convallis, est quis ultricies vestibulum, orci lorem eleifend turpis, eget egestas ex risus at lacus. Nam consequat dolor ex, sed euismod velit aliquam et. Etiam a
      molestie odio, egestas vulputate purus. Quisque eget lectus egestas, malesuada nibh vitae, dapibus dui. Nunc dictum neque felis, sed tristique nunc fringilla a. In eu faucibus ante. Vestibulum porta, eros non volutpat sollicitudin, eros urna
      imperdiet sapien, ac malesuada elit orci vitae metus. Sed interdum in tellus id ultrices. Nulla eu lobortis erat, quis laoreet felis. Duis a magna vel risus accumsan auctor sed in lacus. In arcu lacus, aliquam in maximus sodales, lobortis eget erat.
      Aenean arcu est, bibendum eget augue vel, eleifend lacinia nulla. Nunc aliquam risus at convallis aliquet.</p>
  </section>
  <section class="about-us-section">
    <h2>When</h2>
    <p>Fusce eget consectetur urna, sit amet convallis urna. Etiam est dui, pretium vel semper eu, commodo eget eros. Curabitur volutpat auctor venenatis. Praesent molestie ullamcorper urna in suscipit. Suspendisse augue augue, pretium in sem ut,
      convallis rutrum libero. Nunc pellentesque sodales odio vel ullamcorper. Donec eu suscipit neque. Pellentesque quis nibh feugiat, blandit neque ac, gravida ligula. Donec rhoncus scelerisque elit, in dignissim turpis placerat auctor. Nullam pulvinar
      magna at risus congue sollicitudin. Suspendisse ante ex, semper interdum lobortis ac, feugiat ut arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc vitae consectetur est, tempus varius lacus. Nam
      et arcu vulputate, semper enim eu, pulvinar libero.</p>
  </section>
  <section class="about-us-section">
    <h2>How</h2>
    <p>Fusce at consectetur est, in molestie ante. Donec rutrum justo id risus dapibus elementum. Vestibulum auctor, ipsum ultrices malesuada pulvinar, metus est laoreet ligula, ac hendrerit ligula magna at ipsum. In porta dictum fermentum. Nulla
      ullamcorper augue sed neque auctor mattis. Praesent ultrices dapibus nibh in mattis. Donec vel ornare metus. Fusce ante sapien, ultricies a lacus eget, laoreet sodales nisi. Morbi tempor lorem vitae sapien sollicitudin, eu volutpat nibh facilisis.
      Curabitur interdum neque et nisl rhoncus, eget condimentum nisi pretium.</p>
  </section>
</main>
