<main>
  <section class="hero bebas-font">
    <div id="stars1">
      ::after
    </div>
    <div id="stars2">
      ::after
    </div>
    <div id="stars3">
      ::after
    </div>

    <h1 class="hero-title"><strong>START MINING TODAY WITH IBM SOLUTIONS!
    </strong></h1>

    <button class="hero-button bebas-font" type="button" name="log in">LOG IN</button>

    <div class="hero-stats">
      <div class="hero-stat-block">
        <h4>Spaceports Open</h4>
        <p>42</p>
      </div>
      <div class="hero-stat-block">
        <h4>Materials Deposited</h4>
        <p>314534542</p>
      </div>
    </div>
  </section>
  <section class="home-section mining">
    <h2>Infinity Beyond Mining Co.</h2>
    <div class="description-container">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mauris eros,
        tempus nec urna nec, fermentum suscipit sapien. Praesent efficitur, nisl
        vel venenatis placerat, leo dui dapibus odio, sit amet elementum lacus
        metus a odio. Suspendisse pellentesque ligula nec lorem malesuada
        malesuada. Sed sit amet condimentum risus, ut lacinia ipsum. Phasellus
        purus urna, maximus in dapibus commodo, maximus ac turpis. Aliquam
        vulputate metus nec condimentum ultricies. Nulla hendrerit diam ut
        turpis imperdiet, et aliquet nisi rhoncus.</p>

      <a href="#">image</a>
    </div>
    <div class="statistic-container">
      <div class="stat-block">
        <h4>Materials Deposited</h4>
        <p>314534542</p>
      </div>
      <div class="stat-block">
        <h4>Materials Deposited</h4>
        <p>314534542</p>
      </div>
      <div class="stat-block">
        <h4>Materials Deposited</h4>
        <p>314534542</p>
      </div>
    </div>
  </section>
  <hr>
  <section class="home-section news">
    <h2>Latest News</h2>

    <div class="news-section">
      <div class="news-block">
        <div class="news-image-container">
          <img src="" alt="">
        </div>
        <div class="news-text-container">
          <h4>News Break</h4>
          <p>dsalkjf lkasdf j dskljflksdjf lkdsfklj ;lkjdsflk alkfdk lksdjf</p>
        </div>
      </div>
      <div class="news-block">
        <div class="news-image-container">
          <img src="" alt="">
        </div>
        <div class="news-text-container">
          <h4>News Break</h4>
          <p>dsalkjf lkasdf j dskljflksdjf lkdsfklj ;lkjdsflk alkfdk lksdjf</p>
        </div>
      </div>
      <div class="news-block">
        <div class="news-image-container">
          <img src="" alt="">
        </div>
        <div class="news-text-container">
          <h4>News Break</h4>
          <p>dsalkjf lkasdf j dskljflksdjf lkdsfklj ;lkjdsflk alkfdk lksdjf</p>
        </div>
      </div>
    </div>
  </section>
</main>
