<header class="header">
  <div>
    <h2 class="logo">IBM</h2>
  </div>
  <nav class="nav-bar">
    <ul>
      <li>Homepage</li>
      <li>About Us</li>
      <li>Events</li>
      <li>Log In</li>
      <li>Sign Up</li>
    </ul>
  </nav>
</header>

<main>
  <section class="hero">
    <div id="stars1">
      ::after
    </div>
    <div id="stars2">
      ::after
    </div>
    <div id="stars3">
      ::after
    </div>

    <h1 class="hero-title">Start mining today with IBM solutions</h1>

    <button type="button" name="log in"></button>

    <div class="hero-stats">
      <p>Spaceports Open</p>
      <p>Materials Deposited</p>
    </div>
  </section>
  <section class="home-section mining">
    <h2>Infinity Beyond Mining Co.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mauris eros,
      tempus nec urna nec, fermentum suscipit sapien. Praesent efficitur, nisl
      vel venenatis placerat, leo dui dapibus odio, sit amet elementum lacus
      metus a odio. Suspendisse pellentesque ligula nec lorem malesuada
      malesuada. Sed sit amet condimentum risus, ut lacinia ipsum. Phasellus
      purus urna, maximus in dapibus commodo, maximus ac turpis. Aliquam
      vulputate metus nec condimentum ultricies. Nulla hendrerit diam ut
      turpis imperdiet, et aliquet nisi rhoncus.</p>

    <a href="#">image</a>
  </section>
  <hr>
  <section class="home-section news">
    <h2>Latest News</h2>

    <div class="news-block"></div>
    <div class="news-block"></div>
    <div class="news-block"></div>
  </section>
</main>

<footer>
  <h3>Contact Information</h3>
  <p>email: ibmsolutions@gmail.com</p>
  <p>phone number: +1 (734) 420 8008</p>
  <p>other means of contact: lasers</p>
  <button type="button" name="contact us"></button>
</footer>
