////////////////////////////////////////////////////
//                 Main Section                   //
////////////////////////////////////////////////////
//    hero section    //
.hero {
  height: 100vh;
  background: radial-gradient(ellipse at top, #1B2735 0%, #000 100%);
  display: flex;
  flex-flow: column nowrap;
}

.hero-title {
  color: #FFF;
  font-weight: 700;
  font-size: 10vmin;
  width: 45vw;
  margin-top: 13vh;
  margin-left: 5vmin;
}

.hero-button {
  color: #16131E;
  background-color: #FFF;
  height: 30vmin;
  width: 30vmin;
  padding: 3vmin;
  border-radius: 50%;
  border-style: none;
  align-self: flex-end;
  margin-top: 4vh;
  margin-right: 10vw;
  font-size: 11vmin;
  font-weight: 700;
}

.hero-stats {
  display: flex;
  width: auto;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  margin-bottom: 10vh;
}

.hero-stat-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero-stat-block > h4 {
  color: #FFF;
}

.hero-stat-block > p {
  color: #FBA342;
  font-weight: 700;
}
//    mining section    //
.home-section {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.mining > h2 {
  margin-top: 6rem;
  margin-left: 4rem;
}

.description-container {
  margin: 5rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 25rem;
}

.statistic-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0rem 4.2rem 1rem;
  padding: 2rem 2rem 3rem;
  background-color: var(--primary-variant-color);
  border-radius: 1rem;
}

.stat-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
//    news section    //
.news {
  justify-content: center;
  align-items: center;
}

.news-section {
  display: flex;
  flex-flow: row wrap;
  gap: 5rem;
}

.news-block {
  height: 300px;
  width: 150px;
  border-radius: 5%;
  background-color: red;
}
