header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  background-color: #16131Ef0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bebas Neue', verdana, sans-serif;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header > div {
  margin-left: 2rem;
}

.logo{
  color: #F5F4E9;
  font-weight: 700;
  font-size: 4.5rem;
}

.nav-bar {
  margin-right: 2rem;
}

.nav-bar > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 3em;
}

.list-items {
  color: #F5F4E9;
  font-size: 1.5rem;
  font-weight: 700;

  &:hover{
    color: #FBA342;
  }
}

////////////////////////////////////////////////////
//                 Main Section                   //
////////////////////////////////////////////////////
main {

}

.hero {
  height: 100vh;
  background: radial-gradient(ellipse at top, #1B2735 0%, #000 100%);
}
