.section-one-main {
    height: 200vh;
 
  
}

.box {
    height: 200px;
    width: 400px;
    border-radius: 8%;
    border: 10px solid #565C66;
    justify-self: center;
    align-self: center;
    z-index: 1000;
    padding: 20px;
}




.section-two-main {
    height: 100vh;
}
