/*
 *= require reset
 *= require fonts
 *= require_self
 */

 .bebas-font {
   font-family: "Bebas Neue", cursive;
   letter-spacing: 2px;
 }

 header {
   position: fixed;
   z-index: 1000;
   width: 100%;
   top: 0;
   background-color: #16131Ef0;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding-top: 1rem;
   padding-bottom: 1rem;
   font-family: "Bebas Neue", cursive;
   letter-spacing: 2px;
 }

 header > div {
   margin-left: 2rem;
 }

 .logo{
   color: #F5F4E9;
   font-weight: 700;
   font-size: 4.5rem;
 }

 .nav-bar {
   margin-right: 2rem;
 }

 .nav-bar > ul {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   gap: 0.5em;
 }

 .list-items {
   color: #F5F4E9;
   font-size: 1.5rem;
   font-weight: 700;

   &:hover{
     color: #FBA342;
   }
 }

 .list-links {
   padding: 1rem;
 }

 .last-list-link {
   padding-right: 0.25rem;
 }

h1, h2, h3, h4, button {
  font-family: "Bebas Neue", cursive;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 2.875rem;
}
h3 {
  font-size: 2.31rem;
}
h4 {
  font-size: 1.5rem;
}

p {
  font-family: "Abel", sans-serif;
  font-size: 1.1rem;
}

////////////////////////////////////////////////////
//                Footer Section                  //
////////////////////////////////////////////////////

footer {
  height: 25rem;
  background-color: #0e0c13;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  color: #F5F4E9;
  justify-content: center;
  align-items: center;
  font-family: "Abel", sans-serif;
}

footer > p {
  font-size: 17px;
}

h3 {
  font-size: 26px;
  font-weight: 700;
}

.contact-us-link {
  font-size: 18px;
  font-weight: 700;
  color: #FBA342;
  padding: 2rem;
}
