/*
 *= require reset
 *= require fonts
 *= require_self
*/

:root {
  font-size: 16px;
  --primary-color: #FFF;
  --primary-variant-color: #F5F4E9;
  --secondary-color: #FBA342;
  --secondary-variant-color: #BF7434;
  --background-color: #1B2735;
  --surface-color: #16131E;
  --error-color: #A72536;
  --on-primary-color: #16131E;
  --on-secondary-color: #FFF;
  --on-surface-color: #F5F4E9;
}
.bebas-font {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  background-color: #16131Ef0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}

header>div {
  margin-left: 2rem;
}

.logo {
  color: #F5F4E9;
  font-weight: 700;
  font-size: 4.5rem;
}

.nav-bar {
  margin-right: 2rem;
}

.nav-bar>ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0.5em;
}

.list-items {
  color: var(--on-surface-color);
  font-size: 1.5rem;
  font-weight: 700;
  transition: color 500ms;
  transition: background-color 500ms;
  padding: 1rem;
  position: relative;
  transition: color .15s ease-in;

  &:hover {
    color: #FBA342;
  }
  &:after {
    content: '';
    position: absolute;
    background-color: #032430f0;
    width: 100%;
    height: 6px;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    animation: 1s forwards ani1 linear;
    z-index: -1;
  }
  &:hover:after,
  &:focus:after {
    animation: .15s forwards ani2 linear;
  }

  @keyframes ani2{
    0%{
      transform: scaleX(0);
      height: 5px;
    }
    45%{
      transform: scaleX(1);
      height: 5px;
    }
    55%{
      height: 5px;
    }
    100%{
      transform: scaleX(1);
      height: 60px;
    }
  }
  @keyframes ani1{
    0%{
      transform: scaleX(1);
      height: 60px;
    }
    45%{
      height: 5px;
    }
    55%{
      transform: scaleX(1);
      height: 5px;
    }
    100%{
      transform: scaleX(0);
      height: 5px;
      opacity: .02;
    }
  }
}

.list-links {
  padding: 1rem;
}

.last-list-link {
  padding-right: 0.25rem;
}

h1, h2, h3, h4, button {
  font-family: "Bebas Neue", cursive;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 2.875rem;
}

h3 {
  font-size: 2.31rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-family: "Abel", sans-serif;
  font-size: 1.3rem;
}

////////////////////////////////////////////////////
//                Footer Section                  //
////////////////////////////////////////////////////
footer {
  height: 25rem;
  background-color: #0e0c13;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  color: var(--on-surface-color);
  justify-content: center;
  align-items: center;
  font-family: "Abel", sans-serif;
}

footer>p {
  font-size: 17px;
}

h3 {
  font-size: 26px;
  font-weight: 700;
}

.contact-us-link {
  font-size: 18px;
  font-weight: 700;
  color: var(--secondary-color);
  padding: 2rem;
}
