/*
 *= require ../main
 *= require_self
 */
body {
  background-color: #FAFAFF;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-image {
  background-image: url(Blue_Elegant_Astronout.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  filter: blur(0.8rem);
  -webkit-filter: blur(0.8rem);
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  z-index: -1;
}

main {
  display: flex;
  width: 25rem;
  height: 32rem;
  background: #FFF;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  border-radius: 1rem;
  box-shadow: 0px 0px 3px 0px #000;
  color: #373737;
}

.main-box {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.main-box>h2 {
 margin-bottom: auto;
 margin-top: 2rem;
}

.devise-form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin-bottom: auto;
  width: 100%;
}

input {
  width: 100%;
}

input[type=email],
input[type=password],
input[type=password_confirmation],
input[type=current_password] {
  height: 1.5rem;
  border: none;
  border-bottom: 1px solid #676767;
}

input[type=submit] {
  height: 2rem;
  background-color: #222;
  border-style: none;
  border-radius: 2px;
  color: #FFF;
}

.devise-log-in-link {

}

.devise-sign-up-link {

}
