<footer>
  <h3 class="bebas-font"><strong>CONTACT INFORMATION</strong></h3>
  <p>Email: ibmsolutions@gmail.com</p>
  <p>Phone number: +1 (734) 420 8008</p>
  <p>Other means of contact: lasers</p>
  <a class="contact-us-link bebas-font" href="#">CONTACT US</a>
</footer>
